In [ ]:
# Class is a group of methods and attributes defining an object: a *blueprint* (plano) for an object
# An object is anything in OOP language. A container with data in the form of attributes and
# functions in the form of methods

In [4]:
import os
import random
import re
import sys
import math

In [56]:
# Let's create a class
class Person():
    def __init__ (self, name, age):
        self.name = name
        self.age = age
    
    def __repr__ (self):
        return f'{self.name} age({self.age})'
    
    def birthday (self):
        self.age += 1

In [25]:
n = Person(name='Nicholas', age=39)

In [11]:
type(n)

__main__.Person

In [26]:
n

Nicholas age(39)

In [57]:
m = Person(name='Mohammed', age=25)

In [58]:
m

Mohammed age(25)

In [62]:
m.birthday #this is not running the birthday method

In [60]:
# to run the birthday method:
m.birthday()

In [61]:
m

Mohammed age(26)

In [90]:
class Student(Person):
    def __init__ (self, name, age):
        super(Student, self).__init__(name,age)
        self.courses = []
        
    def add_course(self, course):
        self.courses.append(course)

In [85]:
a=Student('micolas',22)

In [86]:
a

micolas age(22)

In [87]:
a.courses

[]

In [91]:
a.add_course('math')
a.courses

['math', 'math', 'math']

In [26]:
# taking two inputs at a time 
x, y = input("Enter a two value: ").split() 
print("Number of boys: ", x) 
print("Number of girls: ", y) 
print()

Enter a two value: 2 23
Number of boys:  2
Number of girls:  23

In [1]:
num1 = int(input())
num2 = int(input())

1
2

In [4]:
A = [1,2,3]
B = [6,5,4]
C = [7,8,9]
X = [A] + [B] + [C]
print(zip(*X))

<zip object at 0x7f72e0394688>

In [5]:
for grades in zip(*X):
    print(grades)

(1, 6, 7)
(2, 5, 8)
(3, 4, 9)

In [105]:
#change x**2 (como string) en aplicar elevar al cuadrado
with open("function.py",'w') as file:
    f=input('enter the function you want to draw example: 2*x+1 or e**x :\n')
    file.write("from math import *\ndef f(x):\n\treturn "+f)

enter the function you want to draw example: 2*x+1 or e**x :
x**3+x**2

In [114]:
x=2
f=input('enter the function, example: 2*x+1 or e**x :\n')
print(eval(f))

enter the function, example: 2*x+1 or e**x :
2*x+1
5

In [111]:
def f(x):
    return x**3+x*+2
f(2)

12

In [121]:
f=input('enter the function, example: 2*x+1 or e**x :\n')
def g(x):
    return eval(f)
g(3)

enter the function, example: 2*x+1 or e**x :
x**3+x**2+x+1

40

In [151]:
arr = []
n=3
for _ in range(n):
    arr.append(list(map(int, input().rstrip().split())))

7 1 0
10 2 5
6 5 9

In [152]:
arr

[[7, 1, 0], [10, 2, 5], [6, 5, 9]]

In [150]:
arr[0]

'['

In [131]:
arr.sort()
arr

[[6, 7, 9], [7, 1, 0], [10, 2, 5]]

In [134]:
type(arr)

list

In [155]:
def convert(arr): 
    return ' '.join(str(i) for i in arr)

print(convert(arr[0]))

[7, 1, 0] [10, 2, 5] [6, 5, 9]

In [156]:
for m in range(n):
    print(convert(arr[m]))

7 1 0
10 2 5
6 5 9

In [164]:
#school solution
k=2
arr.sort(key=lambda x: x[k])

print(*[" ".join(map(str, sub_arr)) for sub_arr in arr], sep="\n")

7 1 0
10 2 5
6 5 9

In [28]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year % 4 == 0:
        leap = True
        if year % 100 == 0:
            if year % 400 == 0:
                leap = True
            else:
                leap = False
    else:
        leap = False
    
    return leap

In [31]:
year = int(input())
print(is_leap(year))

2020
True

In [44]:
n = int(input())
my_list = []
for i in range(1, n+1):
    print(i, end ="")

4
1234

In [2]:
from collections import namedtuple

N = int(input())
columns = ','.join(input().split())
Student = namedtuple('Student', columns)

sum = 0
for i in range(N):
    values = input().split()
    student = Student(*values)
    sum += int(student.MARKS)

print(sum/N)

1
ID         MARKS      NAME       CLASS
1          97         Raymond    7
97.0

In [3]:
values = input().split()
student = Student(*values)

1          97         Raymond    7
<class '__main__.Student'>

In [4]:
print(student)

Student(ID='1', MARKS='97', NAME='Raymond', CLASS='7')

In [4]:
from collections import OrderedDict
ordered_dictionary = OrderedDict()
ordered_dictionary['a'] = 1
ordered_dictionary['b'] = 2
ordered_dictionary['c'] = 3
ordered_dictionary['d'] = 4
ordered_dictionary['e'] = 5

print(ordered_dictionary)

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [135]:
cadena = "Hola mundo estamos explicando el funcionamiento de split en Python 23"
separador = " "
maximo_numero_de_separaciones = 1
separado_por_espacios = cadena.rsplit(separador, maximo_numero_de_separaciones)
print("Separado por espacios es:", separado_por_espacios)

Separado por espacios es: ['Hola mundo estamos explicando el funcionamiento de split en Python', '23']

In [2]:
# item_name price and net_price
N = int(input())
item = input().rsplit(" ", 1) #separa la línea de entrada en dos partes, la última la parte desde la derecha al primer espacio en blanco
print(item)
net_price = int(item[1]) #el precio es la segunda parte del item de entrada, pero mejor = int(item[-1])
print(net_price)
item_name = item[0] #el name es la primera parte del intem de entrada, pero mejor = " ".join(item[:-1])
print(item_name)

1
banana split 323
['banana split', '323']
323
banana split

In [261]:
N = int(input())
item = input().split()
net_price = int(item[-1])
item_name = " ".join(item[:-1])
#print(f'item_name: {item_name}')
print(f'item_name: {item_name}, net_price: {net_price}')

1
banana split 323
item_name: banana split, net_price: 323

In [249]:
# item_name price and net_price
from collections import OrderedDict
N = int(input())
ordered_dictionary = OrderedDict()
for i in range(N):
    item = input().split()
    net_price= int(item[-1])
    item_name= " ".join(item[:-1])
    if ordered_dictionary.get(item_name):                      # .get is used to check if itemName already exists
        ordered_dictionary[item_name] += net_price
    else:
        ordered_dictionary[item_name] = net_price

for i in ordered_dictionary.keys():
    print (i, ordered_dictionary[i])

4
banana split 20
oranges 10
banana split 30
oranges 25
banana split 50
oranges 35

In [250]:
print(ordered_dictionary)

OrderedDict([('banana split', 50), ('oranges', 35)])

In [64]:
from collections import OrderedDict
N = int(input())
ordered_dictionary = OrderedDict()
for i in range(N):
    word = input()
    if ordered_dictionary.get(word):                      # .get is used to check if word already exists
        ordered_dictionary[word] += 1
    else:
        ordered_dictionary[word] = 1

4
asdf
sdf
df
asdf

In [65]:
print(N)
print(*ordered_dictionary.values())

4
2 1 1

In [39]:
for i in ordered_dictionary.keys():
    print (i, ordered_dictionary[i])

abcdef 2
bcde 1
cdef 1

In [46]:
print(N)
for i in ordered_dictionary.keys():
    print (ordered_dictionary[i], end =" ")

4
2 1 1

In [51]:
my_list = []
for k in ordered_dictionary.keys():
    my_list.append(ordered_dictionary[k])

In [52]:
print(my_list)

[2, 1, 1]

In [62]:
print(N)
print(*my_list)

4
2 1 1